@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  html, body {
    font-size: 18px;
  }
  .imgclip {
    clip-path: url(#svg-shape);
  }
  .gradient {
    mask-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  
  @media print {
    @page {
      margin: 2cm 3cm;
    }
    body.safari {
      margin: 1cm 3cm;
    }
  }

}
