@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  html, body {
    font-size: 18px;
  }
  .imgclip {
    clip-path: url(#svg-shape);
  }
  .gradient {
    mask-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  
  @media print {
    @page {
      margin: 2cm 3cm;
    }
    body.safari {
      margin: 1cm 3cm;
    }
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  /* Apply the animation to the cursor */
  .typewriter-cursor {
    animation: blink 1s infinite;
    color: rgb(222, 222, 222);
  }

  .wikilinks{
    @apply text-neutral-500;
    @apply dark:text-neutral-500;
  }

  .wikilinks a {
    @apply text-neutral-500;
    @apply dark:text-neutral-500;
  }

}
