package main

templ liveEventMessageTemplate(params LiveEventMessagePageParams) {
	<!DOCTYPE html>
	@eventPageTemplate(
		params.TitleizedContent,
		params.OpenGraphParams,
		params.HeadParams,
		params.Clients,
		params.Details,
		params.Event,
	) {
		@templ.Raw(params.Content)
	}
}
