{
  "everything": [
    "wss://nostr-pub.wellorder.net",
    "wss://saltivka.org",
    "wss://relay.damus.io",
    "wss://relay.nostr.bg",
    "wss://nostr.wine",
    "wss://nos.lol",
    "wss://nostr.mom",
    "wss://atlas.nostr.land",
    "wss://relay.snort.social",
    "wss://offchain.pub",
    "wss://relay.primal.net",
    "wss://relay.nostr.band",
    "wss://public.relaying.io"
  ],
  "profiles": [
    "wss://purplepag.es",
    "wss://relay.noswhere.com",
    "wss://relay.nos.social"
  ],
  "justIds": [
    "wss://cache2.primal.net/v1",
    "wss://relay.noswhere.com"
  ],
  "trustedPubKeys": [
    "7bdef7be22dd8e59f4600e044aa53a1cf975a9dc7d27df5833bc77db784a5805",
    "3bf0c63fcb93463407af97a5e5ee64fa883d107ef9e558472c4eb9aaaefa459d",
    "97c70a44366a6535c145b333f973ea86dfdc2d7a99da618c40c64705ad98e322",
    "ee11a5dff40c19a555f41fe42b48f00e618c91225622ae37b6c2bb67b76c4e49"
  ],
  "excludeRelays": [
    "wss://filter.nostr.wine"
  ]
}
