
html {
  font-size: 19px;
  font-weight: 300;
}
@media (max-width: 580px) {
  html {
    font-size: 18px;
  }
}
@media print {
  html {
    font-size: 17px;
    margin: 0;
  }
}

body {
  margin: 0;
  margin-bottom: 4rem;
}
.theme--default body {
  color: #373737;
}
.theme--dark body {
  color: #fafafa;
}
.theme--default body {
  background: #ffffff;
}
.theme--dark body {
  background: #1e1e1e;
}
@media print {
  body {
    margin: 0;
    color: #000000 !important;
  }
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
.background::after {
  content: "";
  position: absolute;
  width: 140%;
  height: 100%;
  transform: rotate(-20deg);
  transform-origin: bottom;
  bottom: -40%;
}
.theme--default .background::after {
  background: #fafafa;
}
.theme--dark .background::after {
  background: #181818;
}
@media (max-width: 580px) {
  .background::after {
    width: 200%;
    bottom: -40%;
  }
}
@media print {
  .background {
    display: none;
  }
}

.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.theme--default .theme-toggle {
  color: #f3f3f3;
}
.theme--dark .theme-toggle {
  color: #3d3d3d;
}
@media (max-width: 580px) {
  .theme-toggle {
    position: relative;
    float: right;
    top: 0;
    right: 0;
  }
}
@media print {
  .theme-toggle {
    display: none;
  }
}

.sun {
  display: none;
}

.moon {
  display: block;
}

.theme--dark .sun {
  display: block;
}
.theme--dark .moon {
  display: none;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  justify-content: left;
}
@media (max-width: 580px) {
  .top {
    display: block;
    width: 90%;
    padding: 1rem;
    font-size: 0.8rem;
  }
}
@media print {
  .top {
    display: block;
  }
}
.theme--default .top span {
  color: #e32a6d;
}
.theme--dark .top span {
  color: #e32a6d;
}

.columnA {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  align-self: flex-start;
  flex-basis: 25%;
  max-width: 25%;
  word-wrap: break-word;
  margin-top: 2rem;
}
@media (max-width: 580px) {
  .columnA {
    display: flex;
    position: relative;
    max-width: none;
    top: auto;
    align-items: center;
    margin-top: 0rem;
  }
}

.column_content {
  flex-grow: 0;
  flex-shrink: 0;
  word-wrap: break-word;
}
.column_content a.button {
  display: inline-block;
  max-width: 100%;
  padding: 2px 8px;
  margin-top: 0.6em;
  margin-right: 0.2em;
  border-bottom: 0;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}
.column_content a.button:hover {
  color: #ffffff;
  background-color: #e32a6d;
  border: 1px solid #e32a6d;
}
.column_content blockquote {
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 2rem 0;
  font-style: italic;
}
.theme--default .column_content blockquote {
  border-left: 0.5rem solid #f3f3f3;
}
.theme--dark .column_content blockquote {
  border-left: 0.5rem solid #2d2d2d;
}
.column_content blockquote.mention {
  border-left: 0.5rem solid #e32a6d;
  padding: 0rem 0 0.5rem 1rem;
}
.theme--default .column_content blockquote.mention div {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 0 0 1rem -1rem;
  background-color: #f3f3f3;
}
.theme--dark .column_content blockquote.mention div {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 0 0 1rem -1rem;
  background-color: #2d2d2d;
}
.column_content blockquote p {
  margin: 0 0 0.5rem 0;
}
.column_content cite {
  font-size: 0.8em;
}
.column_content strong {
  font-weight: 400;
}
.column_content ol,
.column_content ul {
  margin: 0;
  padding: 0 0 0 1rem;
}
.column_content ol li,
.column_content ul li {
  margin-bottom: 0.5rem;
}
.column_content sup {
  font-size: 0.6rem;
  vertical-align: baseline;
  position: relative;
  top: -0.8em;
  margin: 0 0.3rem 0 0.1rem;
}
.column_content hr {
  display: none;
}
.column_content .footnotes {
  padding-top: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.theme--default .column_content .footnotes {
  border-top: 6px solid #f3f3f3;
}
.theme--dark .column_content .footnotes {
  border-top: 6px solid #2d2d2d;
}

body.profile .column_content {
  flex-basis: 50%;
  max-width: 50%;
}
@media (max-width: 580px) {
  body.profile .column_content {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}

body.note .column_content,
body.other .column_content {
  flex-basis: 75%;
  max-width: 75%;
}
@media (max-width: 580px) {
  body.note .column_content,
  body.other .column_content {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
@media print {
  body.note .column_content,
  body.other .column_content {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media print {
  @page {
    margin: 2cm 3cm;
  }
  /* Safari specific styles */
  body.safari {
    margin: 1cm 3cm;
  }
}

/*# sourceMappingURL=styles.css.map */
