<!DOCTYPE html>
<html class="theme--default">
  <meta charset="UTF-8" />
  <head>
    <title>{{.Title}}</title>

    {{template "head_common" .}}
  </head>

  <body class="profile">
    {{template "top" .}}

    <div
      class="block sm:flex sm:justify-center sm:items-center mx-auto px-4 sm:px-0"
    >
      <div
        class="flex w-full sm:w-9/12 px-4 justify-between overflow-visible gap-10 lg:gap-20 print:w-full"
      >
        <div class="flex items-center sm:items-start relative sm:sticky self-start basis-1/4 sm:mt-8 top-auto sm:top-8">
          <div class="text-2xl">{{.Title}}</div>
        </div>

        <div class="column column_content">
          <div class="leading-5 mb-6">
            <h1 class="text-xl">{{.Title}}</h1>
          </div>

          <div class="leading-5 mb-6">
            {{range $element := .Data }}
            <a href="/{{$.PathPrefix}}{{$element}}">
              <div>{{$element}}</div>
            </a>
            {{end}}
          </div>

          <div class="flex justify-between">
          {{if not (eq .PrevPage 0)}}
          <a href="/{{.PaginationUrl}}/{{.PrevPage}}"
            ><< Prev page</a
          >
          {{end}} {{if not (eq .NextPage 0)}}
          <a href="/{{.PaginationUrl}}/{{.NextPage}}"
            >Next page >></a
          >
          {{end}}
        </div>
      </div>
    </div>

    {{template "footer" .}}
  </body>
</html>
