<div class="field {{if .HideDetails}}advanced{{end}}">
  <div class="label">Published at</div>
  {{.CreatedAt}}
</div>

<div class="field {{if .HideDetails}}advanced{{end}}">
  <div class="label">Kind type</div>
  {{.Kind}} {{ if not (eq .KindNIP "")}} -
  <a href="https://github.com/nostr-protocol/nips/blob/master/{{.KindNIP}}.md"
    >{{.KindDescription}}</a
  >
  {{ end }}
</div>

<div class="field {{if .HideDetails}}advanced{{end}}">
  <div class="label">Address Code</div>
  <div>{{.Nevent}}</div>
</div>

<div class="field {{if .HideDetails}}advanced{{end}} boxed">
  <div class="label">Event JSON</div>
  <div class="json">{{.EventJSON}}</div>
</div>
