<!doctype html>
<html class="theme--default text-lg font-light print:text-base sm:text-xl">
  <meta charset="UTF-8" />
  <head>
    <title>Error</title>
    {{template "head_common" .HeadCommonPartial}}
  </head>

  <body
    class="mb-16 bg-white text-gray-600 dark:bg-neutral-900 dark:text-neutral-50 print:text-black"
  >
    {{template "top" .}}

    <div class="mx-auto mt-12 w-10/12 text-center lg:w-9/12">
      <div class="bold text-7xl font-bold sm:text-9xl">Oops!</div>
      <div class="mt-4 text-4xl font-medium sm:text-5xl">
        Something went wrong
      </div>
      <div class="mx-auto w-4/5 sm:w-3/5">
        <div class="mt-4 text-xl">{{.Message}}</div>
        <div class="mt-8 italic text-neutral-400 dark:text-neutral-500">
          {{.Errors}}
        </div>
      </div>
    </div>

    {{template "footer" .}}
  </body>
</html>
