<div
  class="fixed -inset-x-24 inset-y-64 -z-10 h-full w-[200%] -rotate-12 overflow-hidden bg-gray-50 dark:bg-neutral-950 print:hidden"
></div>

<footer class="mb-4 mt-6 text-center text-sm text-gray-400">
  powered by
  <a class="text-gray-400 underline" href="/">njump</a> & open-sourced on
  <a class="text-gray-400 underline" href="https://github.com/fiatjaf/njump"
    >github</a
  >
</footer>

<svg width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <clipPath id="svg-shape" clipPathUnits="objectBoundingBox">
      <path
        transform="scale(0.005, 0.005)"
        d="M100,200c43.8,0,68.2,0,84.1-15.9C200,168.2,200,143.8,200,100s0-68.2-15.9-84.1C168.2,0,143.8,0,100,0S31.8,0,15.9,15.9C0,31.8,0,56.2,0,100s0,68.2,15.9,84.1C31.8,200,56.2,200,100,200z"
      />
    </clipPath>
  </defs>
</svg>
