<head>
  {{if eq .type "profile"}}
  <title>Nostr Public Key {{.npub}}</title>
  <meta property="og:site_name" content="{{.npub | escapeString}}" />
  <meta property="og:title" content="{{.title | escapeString}}" />
  <link rel="canonical" href="https://nostr.com/{{.npub | escapeString }}" />
  <link rel="sitemap" type="application/xml" title="Sitemap for {{.npub | escapeString}}"
    href="/{{.npub | escapeString}}.xml">
  {{ if .metadata.Picture }}
  <meta property="og:image" content="{{.metadata.Picture | escapeString}}" />
  <meta
    property="twitter:image"
    content="{{.proxy}}{{.metadata.Picture | escapeString}}"
  />
  {{end}} {{ if .metadata.About }}
  <meta
    property="og:description"
    content="{{.metadata.About | escapeString}}"
  />
  {{end}}
  <meta property="twitter:card" content="summary" />
  {{end}}
  <!----------->
  {{ if eq .type "note" }}
  <title>Nostr Event {{.nevent}}</title>
  <meta property="og:site_name" content="{{.authorLong | escapeString}}" />
  <meta property="og:title" content="{{.title | escapeString}}" />
  <meta name="twitter:title" content="{{.twitterTitle | escapeString}}" />
  <link rel="canonical" href="https://nostr.com/{{.nevent | escapeString }}" />
  <!---->
  {{ if .textImageURL }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@nostrprotocol" />
  <meta property="og:image" content="{{.textImageURL | escapeString}}" />
  <meta name="twitter:image" content="{{.textImageURL | escapeString}}" />
  {{ else }}
  <!---->
  <meta property="twitter:card" content="summary" />
  {{ if .image }}
  <meta property="og:image" content="{{.image | escapeString}}" />
  <meta name="twitter:image" content="{{.proxy}}{{.image | escapeString}}" />
  {{end}} {{ if .video }}
  <meta property="og:video" content="{{.video | escapeString}}" />
  <meta property="og:video:secure_url" content="{{.video | escapeString}}" />
  <meta
    property="og:video:type"
    content="video/{{.videoType | escapeString}}"
  />
  {{end}}
  <!---->
  {{end}}
  <meta property="og:description" content="{{.description | escapeString}}" />
  <meta name="twitter:description" content="{{.description | escapeString}}" />
  {{end}}
  <!----------->
  {{ if eq .type "address" }}
  <title>Nostr Address {{.naddr | escapeString }}</title>
  {{end}}
  <!----------->
  {{ if eq .type "relay" }}
  <title>Nostr Relay {{.hostname}}</title>
  {{end}}
  <!----------->
  {{ if eq .type "other" }}
  <title>Nostr Event {{.kindID}} - {{.kindDescription | escapeString }}</title>
  {{end}}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/njump/static/styles.css?v=20230606b" />
</head>
