<!DOCTYPE html>
<html class="theme--default">
  <meta charset="UTF-8" />
  <head>
    <title>{{.titleizedContent}}</title>
    <title>
      {{.nevent | escapeString}} by {{.metadata.Name | escapeString}} is this
      note nostr ”nevent"
    </title>

    <meta property="og:title" content="{{.title | escapeString}}" />
    {{ if eq .style "twitter" }}
    <meta name="twitter:title" content="{{.twitterTitle | escapeString}}" />
    {{ end }}

    <meta property="og:site_name" content="{{.authorLong | escapeString}}" />
    {{ if .textImageURL }}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@nostrprotocol" />
    <meta property="og:image" content="{{.textImageURL | escapeString}}" />
    <meta name="twitter:image" content="{{.textImageURL | escapeString}}" />
    {{ else }}
    <!---->
    <meta property="twitter:card" content="summary" />
    {{ if .image }}
    <meta property="og:image" content="{{.image | escapeString}}" />
    <meta name="twitter:image" content="{{.proxy}}{{.image | escapeString}}" />
    {{ end }} {{ if .video }}
    <meta property="og:video" content="{{.video | escapeString}}" />
    <meta property="og:video:secure_url" content="{{.video | escapeString}}" />
    <meta
      property="og:video:type"
      content="video/{{.videoType | escapeString}}"
    />
    {{ end }} {{ end }}
    <!---->
    {{ if .description }}
    <meta property="og:description" content="{{.description | escapeString}}" />
    <meta
      name="twitter:description"
      content="{{.description | escapeString}}"
    />
    {{ end }}

    <link
      rel="canonical"
      href="https://{{s.CanonicalHost}}/{{.nevent | escapeString }}"
    />
    <!---->
    {{ if .oembed }}
    <link
      rel="alternate"
      type="application/json+oembed"
      href="{{.oembed}}&format=json"
    />
    <link
      rel="alternate"
      type="text/xml+oembed"
      href="{{.oembed}}&format=xml"
    />
    {{ end }} {{template "head_common.html" .}}
  </head>

  <body class="note">
    {{template "top.html" .}}

    <div class="container_wrapper">
      <div class="container">
        <div class="column column_content">
          <header class="profile_intro">
            <a href="/{{.npub | escapeString}}">
              <div class="pic-wrapper">
                <img class="pic" src="{{.metadata.Picture | escapeString}}" />
              </div>
              <div class="info-wrapper">
                <div class="name">
                  {{.metadata.Name | escapeString}} {{if not (eq .metadata.Name
                  .metadata.DisplayName)}}
                  <span class="display"
                    >{{.metadata.DisplayName | escapeString}}</span
                  >
                  {{end}}
                </div>
                <div class="npub">{{.npubShort | escapeString}}</div>
              </div>
            </a>
          </header>
          <div class="published_at">{{.createdAt | escapeString}}</div>

          <div class="reply_of">
            {{ if .parentNevent }} In reply to {{ printf "%s%s" "nostr:"
            .parentNevent | escapeString | basicFormatting }} {{ end }}
          </div>

          <div class="field separator"></div>

          <article class="field content">
            {{ if (not (eq .subject ""))}}
            <h1>{{.subject | escapeString}}</h1>
            {{ else }}
            <h1 class="h">
              {{.metadata.Name | escapeString}} on Nostr: {{.titleizedContent}}
            </h1>
            {{ end }}
            <!-- main content -->
            {{ .content }}
          </article>

          <div class="field separator"></div>

          <div class="field">
            <div class="label">Author Public key</div>
            {{.npub | escapeString}}
          </div>

          {{ if .seenOn }}
          <div class="field">
            <div class="label">Seen on</div>
            {{ range .seenOn }}<a href="/r/{{.}}">{{.}}</a>
            {{ end }}
          </div>
          {{ end }}

          <div class="field advanced-switch-wrapper">
            <input
              type="checkbox"
              id="advanced-switch"
              class="advanced-switch"
            />
            <label for="advanced-switch">X</label>
            <label for="advanced-switch">Show more details</label>
          </div>

          {{template "details.html" .}}

          <div class="field separator"></div>
        </div>

        {{template "column_clients.html" .}}
      </div>
    </div>

    {{template "footer.html"}}

    <script>
      {{template "scripts.js"}}
    </script>
  </body>
</html>
