<!DOCTYPE html>
<html class="theme--default">
  <meta charset="UTF-8" />
  {{template "head.html" .}}

  <body class="note">
    {{template "top.html" .}}

    <div class="container_wrapper">
      <div class="container">
        <div class="column column_content">
          <div class="profile_intro">
            <a href="/{{.npub | SanitizeString}}">
              <div class="pic-wrapper">
                <img class="pic" src="{{.metadata.Picture | SanitizeString}}" />
              </div>
              <div class="info-wrapper">
                <div class="name">
                  {{.metadata.Name | SanitizeString}}
                  <span class="display"
                    >{{.metadata.DisplayName | SanitizeString}}</span
                  >
                </div>
                <div class="npub">{{.npubShort | SanitizeString}}</div>
              </div>
              <div class="published_at">{{.createdAt | SanitizeString}}</div>
            </a>
          </div>

          <div class="field separator"></div>

          <div class="field content">
            {{.content | SanitizeString | BasicFormatting }}
          </div>

          <div class="field separator"></div>

          <div class="field">
            <div class="label">Author Public key</div>
            {{.npub}}
          </div>

          <div class="field last_update">
            Last update:<br />
            {{.createdAt | SanitizeString}}
          </div>

          <div class="field advanced-switch-wrapper">
            <input
              type="checkbox"
              id="advanced-switch"
              class="advanced-switch"
            />
            <label for="advanced-switch">X</label>
            <label for="advanced-switch">Show more details</label>
          </div>

          <div class="field advanced">
            <div class="label">Nevent</div>
            <div>{{.nevent | SanitizeString}}</div>
          </div>

          <div class="field advanced boxed">
            <div class="label">Event JSON</div>
            <div class="json">{{.eventJSON | SanitizeString}}</div>
          </div>
          <div class="field separator"></div>
        </div>

        {{template "column_clients.html" .}}
      </div>
    </div>

    {{template "footer.html"}}

    <script>
      {{template "scripts.js"}}
    </script>
  </body>
</html>
