<!DOCTYPE html>
<html class="theme--default">
  <meta charset="UTF-8" />
  <head>
    {{ if .IsParameterizedReplaceable }}
    <title>Nostr Entity {{.Naddr}}</title>
    {{ else }}
    <title>Nostr Event {{.Kind}} - {{.KindDescription }}</title>
    {{ end }}

    <!---->
    {{template "head_common" .}}
  </head>

  <body class="other">
    {{template "top" .}}

    <div class="container_wrapper">
      <div class="container">
        <div class="column column_content">
          <header class="profile_intro">
            <div class="info-wrapper">
              <div class="kind_desc">{{.KindDescription}}</div>
            </div>
          </header>

          <div class="field separator"></div>

          <div class="field">
            <div class="label">Author Public key</div>
            <a href="/{{.Npub}}">{{.Npub}}</a>
          </div>

          {{template "details" .DetailsPartial}}

          <div class="field separator"></div>
        </div>
      </div>
    </div>

    {{template "footer" .}}

    <script src="/njump/static/scripts.js"></script>
  </body>
</html>
