<!doctype html>
<html class="theme--default text-lg font-light print:text-base sm:text-xl">
  <meta charset="UTF-8" />
  <head>
    {{ if not (eq "" .Naddr) }}
    <title>Nostr Entity {{.Naddr}}</title>
    {{ else }}
    <title>Nostr Event {{.Kind}} - {{.KindDescription }}</title>
    {{ end }}

    <!---->
    {{template "head_common" .HeadCommonPartial}}
  </head>

  <body
    class="mb-16 bg-white text-gray-600 dark:bg-neutral-800 dark:text-neutral-50 print:text-black"
  >
    {{template "top" .}}

    <div
      class="mx-auto block px-4 sm:flex sm:items-center sm:justify-center sm:px-0"
    >
      <div
        class="flex w-full max-w-screen-2xl justify-between gap-10 overflow-visible px-4 print:w-full sm:w-9/12 lg:gap-48vw"
      >
        <div class="w-full break-words print:w-full sm:w-9/12">
          <header class="">
            <div class="mb-4 text-2xl">{{.KindDescription}}</div>
          </header>

          {{template "details" .DetailsPartial}}

          <div
            class="-ml-4 mb-6 h-1.5 w-1/3 bg-zinc-100 dark:bg-zinc-700 sm:-ml-2.5"
          ></div>
        </div>
      </div>
    </div>

    {{template "footer" .}}
  </body>
</html>
