<!DOCTYPE html>
<html class="theme--default">
  <meta charset="UTF-8" />
  {{template "head.html" .}}

  <body class="raw">
    {{template "top.html" .}}

    <div class="container_wrapper">
      <div class="container">
        <div class="column column_content">
          <div class="profile_intro">
              <div class="info-wrapper">
                <div class="kind_desc">
                  {{.kindDescription | SanitizeString}}
                </div>
              </div>
          </div>

          <div class="field separator"></div>

          <div class="field">
            <div class="label">Author Public key</div>
            <a href="/{{.npub | SanitizeString}}">{{.npub | SanitizeString}}</a>
          </div>

          {{template "details.html" .}}

          <div class="field separator"></div>
        </div>

      </div>
    </div>

    {{template "footer.html"}}

    <script>
      {{template "scripts.js"}}
    </script>
  </body>
</html>
