<!DOCTYPE html>
<html class="theme--default">
  <meta charset="UTF-8" />
  <head>
    <title>{{.metadata.Name | escapeString}} / {{.metadata.DisplayName | escapeString}} is on nostr</title>
    <meta name="description" content="{{.npub | escapeString}} is {{.metadata.Name | escapeString}} / {{.metadata.DisplayName | escapeString}} public key on nostr" >
    <meta property="og:title" content="{{.title | escapeString}}" />
    <meta property="og:site_name" content="{{.npub | escapeString}}" />
    {{ if .metadata.Picture }}
    <meta property="og:image" content="{{.metadata.Picture | escapeString}}" />
    <meta
      property="twitter:image"
      content="{{.proxy}}{{.metadata.Picture | escapeString}}"
    />
    {{end}} {{ if .metadata.About }}
    <meta
      property="og:description"
      content="{{.metadata.About | escapeString}}"
    />
    {{end}}
    <meta property="twitter:card" content="summary" />

    <link rel="canonical" href="https://nostr.com/{{.npub | escapeString }}" />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap for {{.npub | escapeString}}"
      href="/{{.npub | escapeString}}.xml"
    />

    {{template "head_common.html" }}
  </head>

  <body class="profile">
    {{template "top.html" .}}

    <div class="container_wrapper">
      <div class="container">
        <header class="column columnA">
          <div class="info-wrapper">
            <div class="name">
              {{.metadata.Name | escapeString}}
              <span class="display"
                >{{.metadata.DisplayName | escapeString}}</span
              >
            </div>
          </div>
          <div class="pic-wrapper">
            <img class="pic" src="{{.metadata.Picture | escapeString}}" />
          </div>
          <div class="last_update">
            Last update:<br />
            {{.createdAt | escapeString}}
          </div>
        </header>

        <div class="column column_content">
          <header class="field info-wrapper">
            <h1 id="profile_name" class="name">
              {{.metadata.Name | escapeString}}
              <span class="display"
                >{{.metadata.DisplayName | escapeString}}</span
              >
            </h1>
          </header>
          <div class="field separator long"></div>
          <div class="field">
            <a href="{{.metadata.Website | escapeString}}"
              >{{.metadata.Website | escapeString}}</a
            >
          </div>
          <div class="field about">
            {{.metadata.About | escapeString | basicFormatting}}
          </div>
          <div class="field separator"></div>
          <div class="field">
            <div class="label">Public key</div>
            {{.npub | escapeString}}
          </div>
          <div class="field">
            <div class="label">NIP-05</div>
            {{.metadata.NIP05 | escapeString}}
          </div>
          <div class="field">
            <div class="label">LN Address</div>
            {{.metadata.LUD16 | escapeString}}
          </div>

          <div class="field">
            <div class="label">Posting on these relays</div>
            {{if .authorRelays}} {{range $index, $element := .authorRelays}}
            <a href="/r/{{$element | escapeString}}" class="button"
              >{{$element}}</a
            >
            {{end}} {{else}} No relays found, sorry! Try to reload to search
            again. {{end}}
          </div>

          <div class="field advanced-switch-wrapper">
            <input
              type="checkbox"
              id="advanced-switch"
              class="advanced-switch"
            />
            <label for="advanced-switch">X</label>
            <label for="advanced-switch">Show more details</label>
          </div>

          {{template "details.html" .}}

          <div class="field last_update">
            Last update:<br />
            {{.createdAt | escapeString}}
          </div>

          <div class="field separator"></div>

          {{if .lastNotes}}
          <nav class="field last_notes">
            <h2>Last Notes</h2>
            {{range .lastNotes}}
            <a href="/{{.Nevent | escapeString}}" class="note">
              <div class="published_at">{{.CreatedAt | escapeString}}</div>
              {{if not (eq .ParentNevent "")}}
              <div class="is_reply">- reply</div>
              {{end}}
              <div class="content">{{.Content | escapeString}}</div>
            </a>
            {{end}}
          </nav>
          {{end}}

          <div class="field separator"></div>
        </div>

        {{template "column_clients.html" .}}
      </div>
    </div>

    {{template "footer.html"}}

    <script>
      {{template "scripts.js"}}
    </script>
  </body>
</html>
