<!DOCTYPE html>
<html class="theme--default">
  <meta charset="UTF-8" />
  <head>
    <title>Nostr Relay {{.Hostname}} - {{.Info.Name}}</title>
    <meta property="og:title" content="{{.Hostname}} - nostr relay" />
    <meta name="twitter:title" content="{{.Hostname}} - nostr relay" />
    <meta property="og:site_name" content="{{.Hostname}} - nostr relay" />
    {{ if not (eq "" .Info.Icon) }}
    <meta property="og:image" content="{{.Info.Icon}}" />
    <meta property="twitter:image" content="{{.Proxy}}{{.Info.Icon}}" />
    {{end}} {{ if not (eq "" .Info.Description) }}
    <meta property="og:description" content="{{.Info.Description}}" />
    <meta name="twitter:description" content="{{.Info.Description}}" />
    {{end}}
    <meta property="twitter:card" content="summary" />

    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap for {{.Hostname}}"
      href="/r/{{.Hostname}}.xml"
    />

    {{template "head_common" .}}
  </head>

  <body class="profile">
    {{template "top" .}}

    <div
      class="block sm:flex sm:justify-center sm:items-center mx-auto px-4 sm:px-0"
    >
      <div
        class="flex w-full sm:w-9/12 px-4 justify-between overflow-visible gap-10 lg:gap-20 print:w-full"
      >
        <div class="column columnA">
          <div class="info-wrapper">
            {{.Info.Name}}
            <span class="display">&nbsp;</span>
          </div>
          <div
            class="max-w-full imgclip overflow-hidden basis-2/5 sm:basis-auto"
          >
            <img class="block w-full h-auto" src="{{.Info.Icon}}" />
          </div>
        </div>

        <div class="column column_content">
          <div class="field info-wrapper">
            <h1 class="name">{{.Info.Name}}</h1>
          </div>
          <div class="field separator long"></div>

          <div class="field">wss://{{.Hostname}}</div>
          <div class="field about">{{.Info.Description}}</div>
          <div class="field separator long"></div>

          {{ if not (eq "" .Info.PubKey) }}
          <div class="field">
            <div class="label">Public Key</div>
            {{.Info.PubKey}}
          </div>
          {{ end }}
          <!---->
          {{ if not (eq "" .Info.Contact) }}
          <div class="field">
            <div class="label">Contact</div>
            <a href="{{.Info.Contact}}">{{.Info.Contact}}</a>
          </div>
          {{ end }}

          <div class="field separator"></div>

          <div class="field last_notes">
            <h2>Last Notes</h2>
            {{range $i, $ee := .LastNotes}}
            <a href="/{{$ee.Nevent}}" class="note">
              <div class="header">
                <div class="published_at">{{$ee.CreatedAtStr}}</div>
                <br />
                {{if $ee.IsReply}}
                <div class="is_reply">- reply</div>
                {{end}}
                <div class="npub">
                  by <span href="/{{$ee.Npub}}">{{$ee.NpubShort}}</span>
                </div>
              </div>
              <div class="content">{{$ee.Preview}}</div>
            </a>
            {{end}}
          </div>
        </div>

        {{template "clients" .ClientsPartial}}
      </div>
    </div>

    {{template "footer" .}}
  </body>
</html>
