<!DOCTYPE html>
<html class="theme--default">
  <meta charset="UTF-8" />
  <head>
    <title>Nostr Relay {{.hostname | escapeString}} - {{.info.Name | escapeString}}</title>
    <meta property="og:title" content="{{.hostname | escapeString}} - nostr relay" />
    <meta name="twitter:title" content="{{.hostname | escapeString}} - nostr relay" />
    <meta property="og:site_name" content="{{.hostname | escapeString}} - nostr relay" />
    {{ if .info.Icon }}
    <meta property="og:image" content="{{.info.Icon | escapeString}}" />
    <meta property="twitter:image" content="{{.proxy}}{{.info.Icon | escapeString}}" />
    {{end}}
    {{ if .info.Description }}
    <meta property="og:description" content="{{.info.Description | escapeString}}" />
    <meta name="twitter:description" content="{{.info.Description | escapeString}}" />
    {{end}}
    <meta property="twitter:card" content="summary" />

    <link rel="sitemap" type="application/xml" title="Sitemap for {{.hostname | escapeString}}" href="/r/{{.hostname | escapeString}}.xml">

    {{template "head_common.html" }}
  </head>

  <body class="profile">
    {{template "top.html" .}}

    <div class="container_wrapper">
      <div class="container">
        <div class="column columnA">
          <div class="info-wrapper">
            {{.info.Name | escapeString}}
            <span class="display">&nbsp;</span>
          </div>
          <div class="pic-wrapper">
            <img class="pic" src="{{.info.Icon | escapeString}}" />
          </div>
        </div>

        <div class="column column_content">
          <div class="field info-wrapper">
            <h1 class="name">
              {{.info.Name | escapeString}}
            </h1>
          </div>
          <div class="field separator long"></div>

          <div class="field">
            wss://{{.hostname | escapeString}}
          </div>
          <div class="field about">
            {{.info.Description | escapeString | basicFormatting}}
          </div>
          <div class="field separator long"></div>

          {{if .info.PubKey}}
          <div class="field">
            <div class="label">Public Key</div>
            {{.info.PubKey | escapeString}}
          </div>
          {{end}}
          {{if .info.Contact}}
          <div class="field">
            <div class="label">Contact</div>
            <a href="{{.info.Contact | escapeString}}"
              >{{.info.Contact | escapeString}}</a
            >
          </div>
          {{end}}
          
          <div class="field separator"></div>

          <div class="field last_notes">
            <h2>Last Notes</h2>
            {{range .lastNotes}}
            <a href="/{{.Nevent | escapeString}}" class="note">
              
              <div class="header">
                <div class="published_at">{{.CreatedAt | escapeString}}</div><br/>
                {{if not (eq .ParentNevent "")}}
                <div class="is_reply">- reply</div>
                {{end}}
                <div class="npub">by <span href="/{{.Npub}}">{{.NpubShort}}</span></div>
              </div>
              <div class="content">{{.Content | escapeString | previewNotesFormatting}}</div>
            </a>
            {{end}}
          </div>
        </div>

        {{template "column_clients.html" .}}
      </div>
    </div>

    {{template "footer.html"}}

    <script>
      {{template "scripts.js"}}
    </script>
  </body>
</html>
